.wrapper {
  //margin-bottom: 1vh;
  position: relative;

  .contentContainer {
    position: absolute;
    bottom: 17vw;
    left: 3vw;

    .subtitle {
      font-size: 1.1vw;
      margin-bottom: 0.8vw;
    }

    .title {
      font-size: 25px;
      margin-bottom: 15px;
    }

    .button {
      padding: 0.5vw 1.3vw;
      color: #fff;
      font-size: 0.8vw;
      background: #000;
      transition: all 0.5s ease-out;

      &:hover {
        color: rgb(210, 210, 210);
        background: rgb(13, 13, 13);
      }
    }
  }
}
