.wrapper {
  .title {
    padding: 20px;
    font-size: 28px;
    font-weight: 500;
    background: #fed61b;

    border-radius: 20px 0;
  }
  .text {
    font-size: 30px;
    padding: 20px;
    line-height: 20px;
    text-align: center;
    background: #fed61b;
  }
}
