.wrapper {
  min-height: 78vh;
  padding: 10px;
  display: flex;
  gap: 50px;
  background: #d1b8a0;
}

.imageContainer {
  width: 40%;
  .image {
    max-width: 100%;
  }
}

.personalInfoContainer {
  width: 60%;

  .title {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    background: #fed61b;
    border-radius: 20px 0 0 0;
  }

  .infoContainer {
    padding: 20px;
    display: flex;
    gap: 20px;
    border: 2px solid #fed61b;

    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        padding: 5px 10px;
      }
      .field {
        background: #fed61b;
      }
    }
  }

  .subtitle {
    padding: 20px;
    background: #fed61b;
    font-size: 30px;
    font-weight: 500;
  }

  .orderHistoryContainer {
    padding: 20px;
    border: 2px solid #fed61b;

    .order {
      padding: 10px 5px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      border: 1px solid #000;
    }
  }
}

.wrapper_Orders {
  width: 100%;

  .order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 10px;

    button {
      color: #fff;
      background: rgb(187, 187, 187);
      transition: all 0.5s ease-out;

      &:hover {
        color: rgb(210, 210, 210);
        background: rgb(13, 13, 13);
      }
    }
  }

  .link {
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}
