.wrapper {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.imageContainer {
  width: 40%;
  display: flex;
  align-items: center;

  .image {
    width: 100%;
  }
}

.infoContainer {
  width: 60%;

  .name {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    background: #fed61b;
    border-radius: 20px 0;
  }

  .statsContainer {
    margin-bottom: 10px;

    .stats {
      width: 400px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;

      .stat {
        width: 200px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .abilities {
    max-width: 650px;
    margin-bottom: 20px;

    .ability {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      line-height: 18px;
    }
  }

  .title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
  }

  .price {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
  }

  .button {
    padding: 10px 60px;
    color: black;
    background: #fed61b;

    &:hover {
      color: rgb(210, 210, 210);
      background: rgb(208, 113, 9);
    }
  }
}
